.call-status-row {
  // text-shadow: 0px 2px 3px #666;
  span {
    padding-right:2em;
  }
  .fa {
    font-size:3vw;
  }
  h1 {
    text-align:center;
    font-size:2.5vw;
    // &.count{
    //   font-size:1vw;
    // }
  }
}

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}
.media-middle {
  vertical-align: middle;
}
.media-body {
  display: table-cell;
  vertical-align: top;
}
